<br />
<div class="container">
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col">
          <span class="float-end">
            Passport
          </span><br />
          <span class="float-end">
            India
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <img class="float-end" style="width:100%"src="https://media-exp1.licdn.com/dms/image/C4E03AQFSdv0Uwdb9_w/profile-displayphoto-shrink_100_100/0/1568617571082?e=1638403200&v=beta&t=Eg0eHoop_4Zj7hVnZdf0vCScjdnpcuumHHONqzX6HRw"/>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="row">
        <div class="col">
          New Zealand | Tamil Nadu
        </div>
      </div>
      <app-pass303040ele></app-pass303040ele>
      <app-pass100ele></app-pass100ele>
      <app-pass100ele></app-pass100ele>
      <app-pass100ele></app-pass100ele>
      <app-pass6040ele></app-pass6040ele>
      <app-pass100ele></app-pass100ele>
      <app-pass6040ele></app-pass6040ele>
      <app-pass100ele></app-pass100ele>
    </div>
    <div class="col-1">

    </div>
  </div>
</div>
